export(assignifnotcached)
export(freeze)
export(load_lib)
export(load_packages)
export(thaw)
export(request)
export(request_all)
export(forget)
export(empty_cache)
export("%<c-%")
export("%<f-%")
importFrom("digest", "digest")
